* {
    margin: 0;
    padding: 0;
}

body {
    background-color:greenyellow;
}

header {
    background-color: rgb(37, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: snow;
    padding: 5px 0;
}

#social-media-div {
    width: 192.38px;
    display: flex;;
}

#social-media-div div a {
    text-decoration: none;
    color: greenyellow;
}

.social-media {
    padding-right: 30px;
}

#header-navs-container {
    /* background-color: snow; */
    width: 192.38;
    display: flex;
    justify-content: center;
}

.header-nav {
    padding-left: 30px;
}

.nav-links {
    text-decoration: none;
    color: greenyellow
}

#my-photo-div {
    padding: 10px 0 0 5px;
}

#my-photo {
    border-radius: 5px;
}

#about-me-div {
    padding: 20px 0 0 5px;
}

#my-city {
    color: black;
}

#trybe {
    color: black;
}

#habilitys-title {
    padding-left: 5px;
    font-size: 25px;
}

#another-skills-title{
    padding-left: 5px;
    font-size: 25px;
}
