* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: black;
    padding: 15px 0;
}

.header-section {
    text-align: right;

}
.header-section nav a{
    padding-right: 50px;
    text-decoration: none;
    color: rgb(24, 116, 255);
}

main {
    background-color: rgb(36, 36, 36);
    width: 100%;
}
.main-section h1 {
    padding-bottom: 10px;
    color: snow;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
}
