* {
    margin: 0;
    padding: 0;
}

.header-links {
    display: flex;
    padding: 15px 0 0 5px;
    text-align: left;
}

.about-me {
    padding: 20px 0 0 10px;
}

.about-me p {
    padding: 10px 0 0 0
}

.habilitys {
    padding-top: 20px;
    list-style-type: none;
    
}

.my-photo {
    padding: 50px 0 0 10px;
;
}
.my-photo a {
    color: #000;
    text-decoration: none;
}