.aboutMe {
  margin: 0 20px;
  background-color: rgba(128, 128, 128, 0.486);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  min-width: 50%;
  min-height: 50%;
}

.title {
  margin: 0 20px;
  font-size: 50px;
}

.paragraphDiv {
  margin: 0 20px;
}

.paragraph {
  font-size: 20px;
}

.skillsDiv {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skillsDiv h2 {
  font-size: 30px;
}

.skillsList {
  display: flex;
  gap: 30px;
}

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.html {
  color: orangered;
  font-size: 50px;
}

.css {
  color: rgb(0, 68, 255);
  font-size: 50px;
}

.react {
  color: rgb(0, 195, 255);
  font-size: 50px;
}

.vite {
  width: 50px;
}

.node {
  color: rgb(2, 151, 2);
  font-size: 50px;
}

.vscode {
  color: rgb(0, 140, 255);
  font-size: 50px;
}

.git {
  color: orangered;
  font-size: 50px;
}

.gitHub{
  font-size: 50px;
}

@media (max-width : 600px ) {
  .aboutMe {
    flex-wrap: wrap;
    width: 90%px;
  }

  .title {
    font-size: 32px;
    align-self: center;
  }

  .paragraph {
    font-size: 18px;
  }

  .skillsDiv h2 {
    font-size: 30px;
  }
  
  .skillsList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
  }

  .skills {
    width: 60px;
  }

  .html {
    color: orangered;
    font-size: 30px;
  }
  
  .css {
    color: rgb(0, 68, 255);
    font-size: 30px;
  }
  
  .react {
    color: rgb(0, 195, 255);
    font-size: 30px;
  }
  
  .vite {
    width: 30px;
  }
  
  .node {
    color: rgb(2, 151, 2);
    font-size: 30px;
  }
  
  .vscode {
    color: rgb(0, 140, 255);
    font-size: 30px;
  }
  
  .git {
    color: orangered;
    font-size: 30px;
  }
  
  .gitHub{
    font-size: 30px;
  }
}